body
{
    font-family: Arial;
}
h1
{
    font-size: 40px;
    text-align: center;
}
ul[id="hobbies"] li
{
    font-size: 18px;
    color: #a3a3a3;
    text-decoration: none;
}
h3
{
    color: gray;
}